<footer>
        <div id="footer-menu">
            <p>Menu</p>
            <div id="footer-menu-lists">
                <ul>
                    <li>Research Questions</li>
                    <li>Pillars</li>
                    <li>Science</li>
                    <li>Technology</li>
                    <li>Instrumentation</li>
                    <li>Our Experts</li>
                </ul>
                <ul>
                    <li>Impact</li>
                    <li>Missions</li>
                    <li>About us</li>
                    <li>News, Blogs & Events</li>
                    <li>Contact</li>
                    <li>Newsletter</li>
                </ul>
            </div>
        </div>
        <div id="footer-socials">
            <p>Socials</p>
            <ul>
                <li>Blue Sky</li>
                <li>Instagram</li>
                <li>LinkedIn</li>
            </ul>
        </div>
        <p id="footer-title">Nebula Xplorer</p>
    </footer>