<footer>
        <div id="footer-menu">
            <p>Menu</p>
            <div id="footer-menu-lists">
                <ul>
                    <li><a href="https://www.sron.nl/onderzoeksvragen/">Research Questions</a></li>
                    <li><a href="https://www.sron.nl/pijlers/">Pillars</a></li>
                    <li><a href="https://www.sron.nl/pijlers/wetenschap/">Science</a></li>
                    <li><a href="https://www.sron.nl/pijlers/technologie/">Technology</a></li>
                    <li><a href="https://www.sron.nl/pijlers/instrumentatie/">Instrumentation</a></li>
                    <li><a href="https://www.sron.nl/pijlers/onze-mensen/">Our Experts</a></li>
                </ul>
                <ul>
                    <li><a href="https://www.sron.nl/pijlers/impact/">Impact</a></li>
                    <li><a href="https://www.sron.nl/missies/">Missions</a></li>
                    <li><a href="https://www.sron.nl/over-ons/">About us</a></li>
                    <li><a href="https://www.sron.nl/actueel/">News, Blogs & Events</a></li>
                    <li><a href="https://www.sron.nl/contact/">Contact</a></li>
                    <li><a href="https://www.sron.nl/nieuwsbrief/">Newsletter</a></li>
                </ul>
            </div>
        </div>
        <div id="footer-socials">
            <p>Socials</p>
            <ul>
                <li><a href="https://web-cdn.bsky.app/profile/did:plc:xskzoixc54ebxryzak45u7ra">Blue Sky</a></li>
                <li><a href="https://www.instagram.com/sron_space/">Instagram</a></li>
                <li><a href="https://www.linkedin.com/company/sron/">LinkedIn</a></li>
            </ul>
        </div>
        <p id="footer-title">Nebula Xplorer</p>
    </footer>