<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<nav>
    <a href="/">Home</a>
    <a href="">Onderzoeksvragen</a>
    <a href="">Pijlers</a>
    <a href="">Missies</a>
    <a href="">Over ons</a>
    <a href="">Contact</a>
    <a href="">Zoeken</a>

    <!-- logo -->
    
    <!-- nl > en -->
    <div>
        <span>NL</span>
        <span>EN</span>
    </div>
</nav>