:root {
    --text-color: white;
}

@font-face {
    /* Squares Bold van https://www.1001fonts.com/squares-bold-font.html */
    font-family: RobotoVariable;
    src: url('../fonts/Roboto-VariableFont');
}

@font-face {
    /* Squares Bold van https://www.1001fonts.com/squares-bold-font.html */
    font-family: SpaceMonoBold;
    src: url('../fonts/SpaceMono-Bold.ttf');
}

@font-face {
    /* Squares Bold van https://www.1001fonts.com/squares-bold-font.html */
    font-family: SpaceMonoRegular;
    src: url('../fonts/SpaceMono-Regular.ttf');
}

/* Body elementen */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #181932;
    overflow-x: clip;
    width: 100%;
}

section {
    min-height: 100vh;
}

/* Typografie */
h1,
h2,
p {
    text-align: center;
    color: white;
}

h1 {
    font-family: SpaceMonoBold;
}

h2 {
    margin-top: 0;
    font-family: SpaceMonoRegular;
    text-transform: uppercase;
}

h2 {
    color: #EB5D34;
    font-size: 20px;
}

.pageTitle span {
    margin: -10px;
    font-size: 1.5em;
    display: inline-block;
    animation-name: spaghettify;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-timeline: scroll(root);

    &:nth-child(1) {
        animation-range: entry 0% exit 7%;
    }

    &:nth-child(2) {
        animation-range: entry 1% exit 8%;
    }

    &:nth-child(3) {
        animation-range: entry 2% exit 9%;
    }

    &:nth-child(4) {
        animation-range: entry 3% exit 10%;
    }

    &:nth-child(5) {
        animation-range: entry 4% exit 11%;
    }

    &:nth-child(6) {
        animation-range: entry 5% exit 12%;
    }

    &:nth-child(7) {
        animation-range: entry 6% exit 13%;
    }

    &:nth-child(8) {
        animation-range: entry 7% exit 14%;
    }

    &:nth-child(9) {
        animation-range: entry 8% exit 15%;
    }

    &:nth-child(10) {
        animation-range: entry 9% exit 16%;
    }

    &:nth-child(11) {
        animation-range: entry 10% exit 17%;
    }

    &:nth-child(12) {
        animation-range: entry 11% exit 18%;
    }

    &:nth-child(13) {
        animation-range: entry 12% exit 19%;
    }

    &:nth-child(14) {
        animation-range: entry 13% exit 20%;
    }
}

/* Scroll hint */
.moreinfo-button {
    position: absolute;
    bottom: 36px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    font-family: SpaceMonoBold;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: #ffffff99;
    z-index: 1;
}

.moreinfo-button span {
    font-size: 15px;
    margin-bottom: 0.5rem;
}

.moreinfo-button .arrow {
    width: 18px;
    height: 18px;
    border-right: 1px solid #EB5D34;
    border-bottom: 1px solid #EB5D34;
    transform: rotate(45deg);
}

.pageTitle {
    display: flex;
    flex-direction: column-reverse;
    margin-top: -40vh;
    transition: margin-top 0.3s ease;
    z-index: 1;
    position: relative;
}

/* Stars and svg */
.backgroundStar::after,
.backgroundStar::before {
    position: absolute;
    top: -0.5em;
    content: "\2726";
}

.backgroundStar::after {
    position: relative;
    background: linear-gradient(135deg, rgb(249, 255, 204) 20%, rgb(255, 255, 255) 70%);
    background-clip: text;
    color: transparent;
}

.backgroundStar::before {
    color: transparent;
    text-shadow: 0 0 10px rgb(255, 255, 255);
}

.backgroundStar {
    position: absolute;
    display: inline-block;
    width: 12px;
    height: 12px;
    left: -0.8em;
    top: 0.3em;
    z-index: 0;
    pointer-events: none;
    opacity: 0;
}

.stars {
    inset: 0;
    overflow: clip;
    z-index: 0;
}

@media (max-width: 768px) {
    p {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .pageTitle {
        margin-top: -25vh;
        transition: margin-top 0.3s ease;

        span {
            font-size: 1.2em;
        }
    }
}

@keyframes twinkle {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    20%,
    80% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes spaghettify {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

    10% {
        transform: translateY(-50px) translateX(-85px) scale(1, 2) rotate(5deg);
    }

    40% {
        transform: translateY(-100px) translateX(-275px) scale(1, 3) rotate(80deg);
        opacity: 0.2;
    }

    100% {
        transform: translateY(-300px) translateX(35px) scale(1, 0) rotate(120deg);
        opacity: 0;
        visibility: hidden;
    }
}



@media (max-width: 768px) {
    @keyframes spaghettify {
        0% {
            transform: translateY(0) scale(1);
            opacity: 1;
        }

        10% {
            transform: translateY(-50px) translateX(-35px) scale(1, 2);
        }

        40% {
            transform: translateY(-100px) translateX(-80px) scale(1, 3);
            opacity: 0.2;
        }

        100% {
            transform: translateY(-300px) translateX(35px) scale(1, 0) rotate(90deg);
            opacity: 0;
            visibility: hidden;
        }
    }
}