/* Body elementen */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #181932;
    overflow-x: clip;
    width: 100%;
}

section {
    min-height: 100dvh;
    display: flow-root;
}

/* Typografie */
h1,
h2,
p {
    text-align: center;
    color: var(--text-white);
}

h1 {
    font-family: var(--font-mono-bold);
}

h2 {
    margin-top: 0;
    font-family: var(--font-mono);
    text-transform: uppercase;
}

h2 {
    color: var(--accent-orange);
    font-size: 20px;
}

.pageTitle span {
    margin: -10px;
    font-size: 1.5em;
    display: inline-block;
    animation-name: spaghettify;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-timeline: scroll(root);

    &:nth-child(1) {
        animation-range: entry 0% exit 1%;
    }

    &:nth-child(2) {
        animation-range: entry 0% exit 1.5%;
    }

    &:nth-child(3) {
        animation-range: entry 1% exit 2.5%;
    }

    &:nth-child(4) {
        animation-range: entry 1% exit 3.5%;
    }

    &:nth-child(5) {
        animation-range: entry 2% exit 4.5%;
    }

    &:nth-child(6) {
        animation-range: entry 2% exit 5.5%;
    }

    &:nth-child(7) {
        animation-range: entry 3% exit 6.5%;
    }

    &:nth-child(8) {
        animation-range: entry 3% exit 7.5%;
    }

    &:nth-child(9) {
        animation-range: entry 4% exit 8.5%;
    }

    &:nth-child(10) {
        animation-range: entry 4% exit 9.5%;
    }

    &:nth-child(11) {
        animation-range: entry 5% exit 10.5%;
    }

    &:nth-child(12) {
        animation-range: entry 5% exit 11.5%;
    }

    &:nth-child(13) {
        animation-range: entry 6% exit 12.5%;
    }

    &:nth-child(14) {
        animation-range: entry 6% exit 13.5%;
    }
}

/* Scroll hint */
.moreinfo-button {
    position: absolute;
    bottom: 36px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-mono-bold);
    font-size: 0.7rem;
    text-transform: uppercase;
    color: #ffffff;
    z-index: 1;
}

.moreinfo-button span {
    font-size: 15px;
    margin-bottom: 0.5rem;
}

.arrow {
    width: 18px;
    height: 18px;
    border-right: 1px solid #EB5D34;
    border-bottom: 1px solid #EB5D34;
    transform: rotate(45deg);
}

.pageTitle {
    display: flex;
    flex-direction: column-reverse;
    flex: 0 1 auto; 
    z-index: 2;
    position: relative;
    transition: transform 0.3s ease;
    margin-bottom: 18vh; 
    margin-top: 60vh;
}

.pageTitle h1, 
.pageTitle h2 {
    margin: 0;
    padding: 0;
}

/* Stars and svg */
.backgroundStar::after,
.backgroundStar::before {
    position: absolute;
    top: -0.5em;
    content: "\2726";
}

.backgroundStar::after {
    position: relative;
    background: linear-gradient(135deg, rgb(249, 255, 204) 20%, rgb(255, 255, 255) 70%);
    background-clip: text;
    color: transparent;
}

.backgroundStar::before {
    color: transparent;
    text-shadow: 0 0 10px rgb(255, 255, 255);
}

.backgroundStar {
    position: absolute;
    display: inline-block;
    width: 12px;
    height: 12px;
    left: -0.8em;
    top: 0.3em;
    z-index: 0;
    pointer-events: none;
    opacity: 0;
}

.stars {
position: relative;
    inset: 0;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: clip;
}

@media (max-width: 768px) {
    p {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .pageTitle {
        transition: margin-top 0.3s ease;
        margin-bottom: 10vh;

        span {
            font-size: 1.2em;
        }
    }
}

@keyframes twinkle {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    20%,
    80% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes spaghettify {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

    10% {
        transform: translateY(-50px) translateX(-85px) scale(1, 2) rotate(5deg);
    }

    40% {
        transform: translateY(-100px) translateX(-275px) scale(1, 3) rotate(80deg);
        opacity: 0.2;
    }

    100% {
        transform: translateY(-300px) translateX(35px) scale(1, 0) rotate(120deg);
        opacity: 0;
        visibility: hidden;
    }
}

@media (max-width: 768px) {
    @keyframes spaghettify {
        0% {
            transform: translateY(0) scale(1);
            opacity: 1;
        }

        10% {
            transform: translateY(-50px) translateX(-35px) scale(1, 2);
        }

        40% {
            transform: translateY(-100px) translateX(-80px) scale(1, 3);
            opacity: 0.2;
        }

        100% {
            transform: translateY(-300px) translateX(35px) scale(1, 0) rotate(90deg);
            opacity: 0;
            visibility: hidden;
        }
    }
}