#info {
    display: grid;
    padding: 2rem;
    padding-top: 4rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
          "title title"
          "left right";
    
    h2 {
        grid-area: title;
        text-align: center;
        padding: 1rem;
    }

    p, a, li{
        font-family: SpaceMonoRegular;
        text-align: left;
        padding: 1rem;
    }

    a {
        color: inherit;
        padding: 0;
        cursor: pointer;
    }

    div p, ul li, ol li{
        background-color: #ffffff11;
        margin: 1rem;
        border-radius: 5px;
        padding: 1rem;
    }

    ul {
        grid-area: left;
        list-style-type: disc;
        list-style-position: inside;
    }

    ol {
        list-style-position: inside;
        li{
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    li::marker{
        color: #D53F15;
    }

    ul li{
        &:nth-of-type(1){
            background-color: #EB5D3420;
        }

        &:nth-of-type(2){
            background-color: #EB5D3440;
        }

        &:nth-of-type(3){
            background-color: #EB5D3460;
        }

        &:nth-of-type(4){
            background-color: #EB5D3480;
        }

        &:nth-of-type(5){
            background-color: #EB5D34;
        }
    }

    div {
        grid-area: right;
    }
}

@media (max-width: 768px) {
    #info {
        display: flex;
        justify-content:flex-start;  
        flex-direction: column;
    }   

    div {
        grid-area: left;
    }
}

    