
/* ********************* */
/* MARK: rotating satellite
/* ********************* */

:root {
    --color-background: #181932;
    --color-headings: #D53F16;
    --color-text: #ffffff; 
    --color-accent-red: #EB5D33;
    --color-accent-blue: #1E73BE;
}

@property --bonus-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;

}

@property --satellite-width {
    syntax: "<length>";
    inherits: true;
    initial-value: 0px;
}

#satellite-rotation {
    --earth-width: clamp(10rem, 40vw, 20rem);
    --satellite-width: calc(var(--earth-width) / 5);
    --radius: var(--earth-width);
    

    position: relative;
    width: 100vw;
    height: max-content;
    display: grid;
    place-items: center;
    align-items: center;

    #earth-container {
        height: calc(var(--earth-width)*2.5);
        position: relative;
        display: grid;
        place-items: center;
    }

    #earth, #satellite {
        aspect-ratio: 1;
        border-radius: 99em;
    }

    #earth {
        position: relative;
        width: var(--earth-width);
        display: grid;
        place-items: center;
        transform: rotate(-10deg);
        

       #earth-visible {
            position: absolute;
            width: var(--earth-width);
            height: var(--earth-width);
            top: 0;
            left: 0;
            border-radius: 99em;
            
            background: url("../images/world-map.png"),
                        linear-gradient(#0AA6D8, #1ACB63, #0AA6D8);
            
            background-size: 150%, cover; 
            background-repeat: repeat-x, no-repeat;
            background-position: center, center;
           
            box-shadow: 0 10px 40px rgba(8, 88, 235, 0.5);
   

            @media (prefers-reduced-motion: no-preference) {
                animation: move-background 10s linear infinite;
            }
       }
        
        &::after {
            --height: calc(var(--earth-width)/8);
            position: absolute;
            content: "";
            width: calc(var(--earth-width)/80);
            height: var(--height);
            background-color: white;
            top: calc(var(--height) * -1);
        }

        &::before {
            --height: calc(var(--earth-width)/8);
            position: absolute;
            content: "";
            width: calc(var(--earth-width)/80);
            height: var(--height);
            background-color: white;
            bottom: calc(var(--height) * -1);
        }

        #satellite {
            display: grid;
            place-items: center;

            margin: 0;
            
            position: absolute;
            width: var(--satellite-width);
            

        
        }
    }

}

@keyframes move-background {
    0% {
        background-position: 0% 50%, center;
    }
    100% {
        background-position: 300% 50%, center;
    }
}


/* ********** */
/* MARK: transition satellite
/* ********** */

@property --satellite-position-x {
    syntax: "<length>";
    inherits: true;
    initial-value: 0px;
}

@property --satellite-position-y {
    syntax: "<length>";
    inherits: true;
    initial-value: 0px;
}

@property --satellite-offset {
    syntax: "<length>";
    inherits: true;
    initial-value: 0px;
}

#satellite-rotation {
    #satellite-step-container {
        
        
        height: 150vh;
        color: white;
    }

    #earth {
        view-timeline-name: --satellite-info-container;
        view-timeline-axis: block;

        .transform-container {
            position: absolute;

        }
    }
}




/* ****************** */
/* MARK: Satellite steps
/* ****************** */

#satellite-steps {
    display: grid;
    align-items: start;
    width: 100%;
    max-width: 1000px;
    justify-self: center;
    

    #satellite-step-container {
        position: relative;
        height: max-content;
        margin: 0;
        padding: 0;
            
            
        article {
            position: relative;
            
            padding: 0;
            list-style: none;
            margin-bottom: 0;
            display: grid;
            align-items: start;
            
            

            .text p, h2 {
                margin: 0;
                text-align: left;
            }

            &:first-of-type .text {
                width: 65%;
                padding-left: 2rem;
                padding: 2rem 6rem 5rem 2rem;
                


                &:first-of-type {
                    background-color: #EB5D33;
                }
            }

            &:nth-of-type(2) .text  {
                background-color: #D53F16;
                padding: 2rem 2rem 5rem 6rem;
                margin: 0;
            }

            h2{
                color: white;
                margin-bottom: 1rem;
            }

            figure {
                width: 60%;
                justify-self: center;
                margin-top: 10%;
                

                img {
                    max-width: 100%;
                }
            }
        }
    
    }
}


/* ********** */
/* MARK: Explanation Buttons
/* ********** */

.satellite-step1 {

    
    height: max-content;
    grid-template-rows: 3fr 3fr 1fr;
    grid-template-columns: 1fr 1fr 3fr;

    .text {
        justify-self: end;
        margin: 0 2rem 0 0;
        margin-left: 0;

        grid-column: 3/4;
        align-self: center;
        grid-row: 1/3;
    }

    .satellite-explanation-container {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    .satellite-parts {
        grid-column: 1/3;
        justify-self: center;
        
    }


}

@media (max-width: 790px) {
    #satellite-rotation {
        grid-template-columns: 1fr;
        
        #earth-container {
            grid-row: 1/2;
            grid-column: 1/2;

            #earth {
                grid-row: 1/2;
            }
        }
    }

}

@media (max-width: 690px) {


    #sattelite-steps #satellite-step-container .satellite-step0 {
        .text {
            width: 80%;
        }
    }
    .satellite-step1 {
        .text {
            grid-column: 1/3;
            grid-row: 1/2;
            margin-left: 2rem;
        }
        .satellite-explanation-container {
            grid-column: 1/3;
            grid-row: 2/3;
            
        }

        .satellite-parts {
            grid-column: 1/3;
        }
    }   
}

@media (min-width: 800px) {
    /* .satellite-step1 {
        grid-template-columns: 6fr 5fr;

        
    }  */

    #satellite-steps #satellite-step-container article:first-of-type .text {
        margin-left: 1.8rem;
    }

}

@media (min-width: 830px) {
    /* .satellite-step1 {
        grid-template-columns: 6fr 5fr;
        
    }  */

    #satellite-steps .satellite-explanation-container {
        width: 100%;
        justify-self: center;
        align-self: start;
    }

 

}

@media (min-width: 900px) {

    #satellite-steps .satellite-explanation-container {
        width: 70%;
        justify-self: center;
    }

}

@media (min-width: 1000px) {
    

    #satellite-steps .satellite-explanation-container {
        width: 80%;
        justify-self: center;
    }



    

}

.satellite-explanation-container {
    
    align-self: start;
    justify-self: end;
    position: relative;
    top: 1rem;
    z-index: 1;
    

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    max-width: 60rem;

    figure {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .button-container {
        display: grid;
        grid-template-columns: repeat(30, 1fr);
        grid-template-rows: repeat(30, 1fr);
        grid-column: 1/2;
        height: 100%;
        grid-row: 1/2;
        

        button {
            height: 100%;
            aspect-ratio: 1;
            position: relative;
            top: 0;

            border-radius: 99rem;

            /* inertial measurement units */
            &:nth-of-type(1) {
                grid-column: 15/16;
                grid-row: 11/12;

            }
            /* batteries */
            &:nth-of-type(2) {
                grid-column: 17/18;
                grid-row: 9/10;

            }

            /* solar panels with drive mechanism*/
            &:nth-of-type(3) {
                grid-column: 23/24;
                grid-row: 8/9;

            }

            /* star tracker */
            &:nth-of-type(4) {
                grid-column: 19/20;
                grid-row: 11/12;

            }

            /* transceivers */
            &:nth-of-type(5) {
                grid-column: 17/18;
                grid-row: 14/15;
            }

            /* GNSS Receiver */
            &:nth-of-type(6) {
                grid-column: 17/18;
                grid-row: 17/18;

            }

            /* Sun sensors */
            &:nth-of-type(7) {
                grid-column: 19/20;
                grid-row: 21/22;

            }

            /* Magnetometers */
            &:nth-of-type(8) {
                grid-column: 16/17;
                grid-row: 16/17;

            }

            /* S-band antennas */
            &:nth-of-type(9) {
                grid-column: 18/19;
                grid-row: 18/19;

            }

            /* S-band antennas */
            &:nth-of-type(15) {
                grid-column: 7/8;
                grid-row: 17/18;

            }

            /* Magnetic torquers */
            &:nth-of-type(10) {
                grid-column: 7/8;
                grid-row: 19/20;

            }

            /* On board computer */
            &:nth-of-type(11) {
                grid-column: 14/15;
                grid-row: 17/18;

            }
            /* Reaction wheels */
            &:nth-of-type(12) {
                grid-column: 15/16;
                grid-row: 14/15;

            }

            /* Separation plate */
            &:nth-of-type(13) {
                grid-column: 7/8;
                grid-row: 11/12;

            }

            /* X-ray instrument */
            &:nth-of-type(14) {
                grid-column: 12/13;
                grid-row: 6/7;

            }
        }

        
    }

    
}




.satellite-step1 {

    button {
      background: var(--accent-orange);
      border: none;
    }
    
    button.active {
      background: #1ACB63;
    }
    
    .button-container button.active {
        background-color: #1ACB63;
    }
    
    button:hover {
        background-color: #1ACB63;
    }

}



.satellite-parts {
    
    gap: 2.5rem;
    
    height: 5rem;
    overflow: hidden;
    
    justify-items: center;
    position: relative;
    
   

    >li {

        
        scroll-snap-align: center;
        container-type: scroll-state;
   
        display: flex;
        height: 5rem;
        
        

        p {
            color: white;
        }
        
        

        @supports (container-type: scroll-state) {
            @container scroll-state(snapped: y) {
                button {
                    background-color: green;
                }
            }
        }

        p {
            margin-left: 1rem;
            margin-right: 0;
            align-self: center;
        }
    }

    button {
        width: 2.5rem;
        height: 2rem;
        border-radius: 99rem;
        border: none;
        align-self: center;
        
        &:first-of-type{
            background: #1ACB63;
        } 
    }
}
/* **** */
/* MARK: 3d model
/* **** */

#earth-container {
    z-index: 2;
}

#satellite-steps {
    z-index: 1;
}



/* ****** */
/* MARK: Satellite animation
/* **** */

#satellite-rotation {
    view-timeline-name: --satellite-section;
     z-index: 1;
}

.transform-container {
    @media (prefers-reduced-motion: no-preference){
        animation-name: satellite-section-move-down;
        animation-timeline: --satellite-section;
        animation-range: 
            entry 50% entry 70%;
        animation-fill-mode: both;
    }
}

@keyframes satellite-section-move-down {
    0% {
        
        transform: translateY(-10rem);
        z-index: 1;
        
    }
    100% {
        transform: translateY(0)
    }
}

.transform-container2 {
    transform: translate(calc(sin(375deg + var(--bonus-angle)) * var(--radius)/1.3),
            calc(cos(180deg + var(--bonus-angle)) * var(--radius)/1.3));
}

.transform-container2 {
    @media (prefers-reduced-motion: no-preference) {
        animation-name: satellite-section-move-80deg;
        animation-timeline: --satellite-section;
        animation-range: 
            entry 70% entry 100%;
        animation-fill-mode: both;
    }
}

@keyframes satellite-section-move-80deg {
    0% {
        
        --bonus-angle: 0deg;
        
    }
    100% {
        --bonus-angle: 80deg;
    }
}

#satellite {
    @media (prefers-reduced-motion: no-preference) {
        animation-name: orbit-x;
        animation-timeline: --satellite-section;
        animation-range: 
            entry 100% entry 100rem;
        animation-fill-mode: both;
    }

    z-index: 1;
}

#earth-visible {
    z-index: 2;
}

@keyframes orbit-x {
	from { 
        transform: translateZ(0) translateX(0);
        z-index: 1;
    }
	50% { 
        transform: translateX(calc(var(--earth-width)*-1.5));
        z-index: 3;
    }
	50.01% { 
        transform: translateX(calc(var(--earth-width)*-1.5));
        z-index: 1;
    }
	to { 
        transform: translateX(0);
        z-index: 1;
    }
}

#earth-container {
    view-timeline-name: --earth-container;
}

.transform-container4 {
    @media (prefers-reduced-motion: no-preference) {
        animation-name: move-into-article;
        animation-timeline: --earth-container;
        animation-range: 
            exit 20% exit 80%;
        animation-fill-mode: both;
    }
}

@keyframes move-into-article {
    0% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(var(--satellite-position-x), var(--satellite-position-y)) scale(var(--satellite-scale));
    }
}

/* ****** */
/* MARK: Media queries
/* ****** */

@media (max-width: 430px) {
    :root {
        --satellite-position-x: -40vw;
        --satellite-position-y: 40vh;
        --satellite-scale: 2;

        
    }

    #satellite-rotation #earth-container #earth {
        --earth-margin-bottom: calc(var(--earth-width)*2);
    }

    

}

@media (min-width: 431px) {
    :root {
        --satellite-position-x: -40vw;
        --satellite-position-y: 50vh;
        --satellite-scale: 3;

        
    }

    .satellite-step1 {
        grid-template-rows: 3fr 4fr 1fr;
    }

    #satellite-rotation #earth-container #earth {
        --earth-margin-bottom: calc(var(--earth-width)*2);
    }

    
    #satellite-rotation #satellite-steps #satellite-step-container .satellite-step1 .text {
        
        grid-column: 2/4;
        grid-row: 1/2;
    }

    .satellite-step1 .satellite-explanation-container, .satellite-step1 .satellite-parts {
        grid-column: 1/4;
    }

    .satellite-step1 .satellite-parts {
        grid-row: 3/4;
    }
    
}


@media (min-width: 500px) {
    :root {
        --satellite-position-x: -40vw;
        --satellite-position-y: 45vh;
        --satellite-scale: 4;

        
    }

    #satellite-rotation #earth-container #earth {
        --earth-margin-bottom: calc(var(--earth-width)*1.5);
    }
}

@media (min-width: 500px) {
    .satellite-step1 {
        grid-template-rows: max-content 4fr 1fr;
    }

    #satellite-rotation #satellite-steps #satellite-step-container .satellite-step1 .text {
        
        padding: 2rem 2rem 5rem 5rem;
    }

}


@media (min-width: 690px) {
    :root {
        --satellite-position-x: -8vw;
        --satellite-position-y: 60vh;
        --satellite-scale: 4;
    }

    .satellite-step1 {
        grid-template-rows: 4fr 1fr;
        margin-left: 2rem;
    }

    #satellite-rotation #satellite-steps #satellite-step-container .satellite-step0 .text {
        width: 65%;
    }

    #satellite-rotation #earth-container #earth {
        --earth-margin-bottom: calc(var(--earth-width)*0.5);
    }

    #satellite-rotation #satellite-steps #satellite-step-container .satellite-step1 .text {

        padding-bottom: 15vh;
        padding-left: 15vw;
        
    }

    .satellite-step1 .satellite-explanation-container {
        grid-column: 1/3;
        align-self: center;
        grid-row: 1/2;
    }

    .satellite-step1 .satellite-parts {
        grid-row: 2/3;
        grid-column: 1/3;
        position: relative;
    }
}

@media (min-width: 900px) {
    .satellite-explanation-container {
        transform: scale(1.5);
        margin-top: 2rem;
    }
}

@media (min-width: 720px) {
    :root {
        --satellite-position-x: -10vw;
        --satellite-position-y: 70vh;
        --satellite-scale: 4;
    }

}

@media (min-width: 800px) {
    :root {
        --satellite-position-x: -8vw;
        --satellite-position-y: 70vh;
        --satellite-scale: 4;
    }
}


@media (min-width: 960px) {
    :root {
        --satellite-position-x: 0vw;
        --satellite-position-y: 70vh;
        --satellite-scale: 4;
    }
}

@media (min-width: 1000px) {
    #satellite-rotation #satellite-steps #satellite-step-container .satellite-step1 .text {        
      padding-bottom: 20vh;
    }
}


@media (min-width: 1100px) {
    :root {
        --satellite-position-x: 5vw;
        --satellite-position-y: 65vh;

        --satellite-scale: 5;
    }
}




/* ******* */
/* MARK: parallax
/* ******* */

#satellite-rotation {
    #earth-container {
        height: 200vh;
        display: grid;
        align-items: start;
        position: relative;
    }

    #earth {
        --earth-margin-bottom: calc(var(--earth-width)/1.5);
        position: sticky;
        top: calc(var(--earth-width)/1.5);
        margin-top: calc(var(--earth-width)/1.5);
        margin-bottom: var(--earth-margin-bottom);
    }

}

