/* styling only for team page */

/* body background */
.team {
    /* background: linear-gradient(#181932, white); */
    width: 100%;
    margin: 0;
}

/* Astronaut section */
.team-astronaut {
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: clip;
    margin-bottom: 10rem;

    ul {
        height: 100%;
        display: flex;
        align-items: center;
        overflow-x: scroll;
        overflow-y: clip;
        scrollbar-width: none;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        overscroll-behavior-x: contain;
        overscroll-behavior-y: auto;

        margin: 0;
        padding: 0;
    }

    li {
        width: 100vw;
        height: 100%;
        list-style-type: none;
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        scroll-snap-align: center;
    }
}

/* astronaut floating animatino */
.team-astronaut-1, .team-astronaut-2, .team-astronaut-3 {
    translate: 11.5rem -18rem;
    animation: astronaut-float 4s infinite  alternate ease-in-out;
    box-sizing:inherit;
}

/* Astronaut-2 */
.team-astronaut-2 {
    .team-astronaut-person-face {
        background-color: #EB5D34;
    }

    .team-astronaut-person-face::before, .team-astronaut-person-face::after {
        background-color: #f87f5d;
    }
}

/* Astronaut-3 */
.team-astronaut-3 {
    .team-astronaut-person-face {
        background-color: #34333b;
    }

    .team-astronaut-person-face::before, .team-astronaut-person-face::after {
        background-color: #64636d;
    }
}

/* astronaut team members info */
.team-astronaut-student-info {
    max-width: 400px;
    max-height: 20vh; 
    text-align: center;
    translate: 0rem 6rem;
    margin-bottom: 2rem;

    > h2 {
        font-size: 2em;
        margin: 0;
        color: white;
    }

    > h3 {
        color: #EB5D34;
        text-transform: uppercase;
        margin-top:.3rem;
        font-family: 'SpaceMonoRegular';
    }

    p {
        color: white;
        margin: 0;
        font-size: .9em;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

/* experts section */
section.team-sponsors {
    width: 95vw;
    min-height: 0;
    height: auto;
    justify-self: center;
    padding: 0rem;

    figure {
        width: 85%;
        height: 65%;
        background-color: white;
        justify-self: center;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: clip;
        padding: 0.5rem
    }

    img {
        max-width: 100%;
        width:clamp(10rem, 2.5vw, 2rem);
        object-fit: cover;
    }
}

.sponsor-list {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(250px , 1fr));
    border: solid 1px white;
}

.sponsor-item {
    list-style-type: none;
    height: 15rem;
    padding: 1rem;
    border: solid 1px white;
    align-items: center;
}

.sponsor-title {
    font-family: 'SpaceMonoRegular';
    font-size: 1.5em;
    color: #EB5D34;
    text-transform: uppercase;
    text-align: center;
}

.sponsor-name   {
    text-align: start;
}

.team-sponsor-1-text-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90% 10%;
    justify-items: start;

    p {
        margin: 0;
        font-size: 0.8em;
        align-self: end;
    }
}

/* keyframes */
@keyframes astronaut-float {
    0% {
        transform: translateY(1rem) scale(0.8) rotate(5deg);
    }
    100% {
        transform: translateY(0rem) scale(0.8) rotate(15deg);
    }
}

/* large screeeen */
@media (min-width: 600px) {

    .team-astronaut {
        height: 120vh;
        margin-bottom: 0;
    }




    .team-astronaut-student-info {
        max-width: 600px;
    }

    .team-astronaut-1, .team-astronaut-2, .team-astronaut-3 {
        translate: 18.5rem -18rem;
    }
}
