/* styling only for team page */

/* body background */
.team {
    /* background: linear-gradient(#181932, white); */
    width: 100%;
    margin: 0;
}

.team-bg {
    overflow: hidden;
}

/* THE EARTH */
div#earthLocaties-container {
    position: absolute;
    top: -20%;
    left: -10%;
    width: 100vw;
    height: 100vw;
    z-index: -1;
}

/* Astronaut section */
.team-astronaut {
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: clip;
    margin-bottom: 10rem;

    ul {
        height: 100%;
        display: flex;
        align-items: center;
        overflow-x: scroll;
        overflow-y: clip;
        scrollbar-width: none;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        overscroll-behavior-x: contain;
        overscroll-behavior-y: auto;

        margin: 0;
        padding: 0;
        padding-top: 1rem;
    }

    li {
        width: 100vw;
        height: 100%;
        list-style-type: none;
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        scroll-snap-align: center;
    }
}

/* astronaut floating animatino */
.team-astronaut-1, .team-astronaut-2, .team-astronaut-3 {
    translate: 11.5rem -18rem;
    --astronaut-scroll-offset: 0px;
    animation: astronaut-float 10s infinite  alternate ease-in-out;
    box-sizing:inherit;
}

/* Astronaut-2 */
.team-astronaut-2 {
    .team-astronaut-person-face {
        background-color: #EB5D34;
    }

    .team-astronaut-person-face::before, .team-astronaut-person-face::after {
        background-color: #f87f5d;
    }
}

/* Astronaut-3 */
.team-astronaut-3 {
    .team-astronaut-person-face {
        background-color: #34333b;
    }

    .team-astronaut-person-face::before, .team-astronaut-person-face::after {
        background-color: #64636d;
    }
}

/* astronaut team members info */
.team-astronaut-student-info {
    max-width: 400px;
    max-height: 20vh; 
    text-align: center;
    translate: 0rem 6rem;
    margin-bottom: 2rem;

    > h2 {
        font-size: 2em;
        margin: 0;
        color: white;
    }

    > h3 {
        color: #EB5D34;
        text-transform: uppercase;
        margin-top:.3rem;
        font-family: 'SpaceMonoRegular';
    }

    p {
        color: white;
        margin: 0;
        font-family: 'SpaceMonoregular';
        font-size: .9em;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.atronaut-button {
    content: "";
    background-color: transparent;
    border: none;
    width: 4rem;
    height: 4rem;
    position: absolute;
    right: 5%;
    top: 20%;
    z-index: 1;
}

.atronaut-button::before {
    content: "";
    display: block;
    width: 2rem;
    height: 2rem;
    background-color: #EB5D34;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 30% 100%, 80% 50%, 30% 0);
    position: absolute;
    right: 5%;
    top: 20%;
}

.astronaut-button-left {
    left: 5%;
    top: 20%;
    transform: rotate(180deg);
}

/* sponsors section */
section.team-sponsors {
    width: 95vw;
    min-height: 0;
    height: auto;
    justify-self: center;
    padding: 0rem;

    figure {
        width: 85%;
        height: 65%;
        background-color: white;
        justify-self: center;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        padding: 0.5rem;
        border-radius: 5px;
    }

    img {
        max-width: 100%;
        width:clamp(10rem, 2.5vw, 2rem);
        object-fit: cover;
    }
}

.sponsor-list {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(250px , 1fr));
}

.sponsor-item {
    list-style-type: none;
    height: 15rem;
    padding: 1rem;
    border: solid 1px white;
    align-items: center;
}

.sponsor-title {
    font-family: 'SpaceMonoRegular';
    font-size: 1.5em;
    color: #EB5D34;
    text-transform: uppercase;
    text-align: center;
}

.sponsor-name   {
    text-align: start;
    font-family: 'SpaceMonoRegular';
}

.team-sponsor-1-text-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90% 10%;
    justify-items: start;

    p {
        margin: 0;
        font-size: 0.8em;
        align-self: end;
    }
}

/* keyframes */
@keyframes astronaut-float {
    0% {
        transform:
            translateY(calc(2rem - var(--astronaut-scroll-offset)))
            translateX(0rem)
            scale(0.8)
            rotateY(0deg)
            rotateX(0deg)
            rotate(0deg);
    }
    50% {
        transform:
            translateY(calc(-2rem - var(--astronaut-scroll-offset))) 
            translateX(1.5rem)
            scale(0.8) 
            rotateY(3deg) 
            rotateX(3deg) 
            rotate(0deg);
    }
    100% {
        transform:
            translateY(calc(-1rem - var(--astronaut-scroll-offset))) 
            translateX(1.5rem) 
            scale(0.8) 
            rotateY(3deg)
            rotateX(3deg)
            rotate(5deg);
    }
}

/* large screeeen */
@media (min-width: 600px) {

    div#earthLocaties-container {
        top: -35%;
        left: -20%;
    }

    .team-astronaut-student-info {
        max-width: 600px;
    }

    .team-astronaut-1, .team-astronaut-2, .team-astronaut-3 {
        translate: 18.5rem -18rem;
    }
}

@media (min-width: 850px) {
    div#earthLocaties-container {
        top: -45%;
        left: -30%;
        width: 90vw;
        height: 90vw;
    }

    .team-astronaut-1, .team-astronaut-2, .team-astronaut-3 {
        translate: 28.5rem -15rem;
    }

    .team-astronaut-student-info {
        max-height: 999vh;
        text-align: left;
        translate: -7rem 11rem;

        > h2 {
            text-align: left;
        }

        p {
            color: white;
            text-align: left;
            font-size: .9em;
            margin: 0;
        }
    }

    .atronaut-button {
        top: 33%;
    }


    @keyframes astronaut-float {
        0% {
            transform:
                translateY(calc(2rem - var(--astronaut-scroll-offset)))
                translateX(0rem)
                scale(0.9)
                rotateY(0deg)
                rotateX(0deg)
                rotate(0deg);
        }
        50% {
            transform:
                translateY(calc(-2rem - var(--astronaut-scroll-offset))) 
                translateX(1.5rem)
                scale(0.9) 
                rotateY(3deg) 
                rotateX(3deg) 
                rotate(0deg);
        }
        100% {
            transform:
                translateY(calc(-1rem - var(--astronaut-scroll-offset))) 
                translateX(1.5rem) 
                scale(0.9) 
                rotateY(3deg)
                rotateX(3deg)
                rotate(5deg);
        }
    }
}

@media (min-width: 1100px) {
    div#earthLocaties-container {
        top: -75%;
        left: -25%;
    }

    .team-astronaut {
        height: 120vh;
    }

    .team-astronaut-1, .team-astronaut-2, .team-astronaut-3 {
        translate: 35.5rem -8rem;
    }

    .team-astronaut-student-info {
        translate: -16rem 20rem;
    }
}

@media (min-width: 1250px) {
    div#earthLocaties-container {
        top: -90%;
        left: -25%;
    }
    .team-astronaut-1, .team-astronaut-2, .team-astronaut-3 {
        translate: 35.5rem -5rem;
    }

    @keyframes astronaut-float {
        0% {
            transform:
                translateY(calc(2rem - var(--astronaut-scroll-offset)))
                translateX(0rem)
                scale(1)
                rotateY(0deg)
                rotateX(0deg)
                rotate(0deg);
        }
        50% {
            transform:
                translateY(calc(-2rem - var(--astronaut-scroll-offset))) 
                translateX(1.5rem)
                scale(1) 
                rotateY(3deg) 
                rotateX(3deg) 
                rotate(0deg);
        }
        100% {
            transform:
                translateY(calc(-1rem - var(--astronaut-scroll-offset))) 
                translateX(1.5rem) 
                scale(1) 
                rotateY(3deg)
                rotateX(3deg)
                rotate(5deg);
        }
    }
}
